{% extends 'base.html' %} {% block content %}
<h2>Máquinas de soporte vectorial</h2>
<p>Escoge tu proyecto</p>
<table class="table mb-0">
  <thead>
    <tr class="table-dark">
      <th>Titulo</th>
      <th>Nombre del archivo</th>
      <th>Acciones</th>
    </tr>
  </thead>
  <tbody>
    {% for project in projects %}
    <tr>
      <td>{{ project.title }}</td>
      <td>{{ project.name }}</td>
      <td>
          <form method="post" action="{% url 'svm_p0' project.pk %}">
            {% csrf_token %}
            <button type="submit" class="btn btn-primary btn-sm">Escoger</button>
          </form>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
<h5>¿Qué es la Máquinas de Vectores de Soporte?</h5>
<p>
  El metodo de SVM es un algoritmo que se utiliza para 
  encontrar un hiperplano que separe de la mejor forma posible dos clases 
  diferentes de puntos de datos.
</p>
{% endblock %}
