{% extends 'base.html' %}

{% block content %}
<div class="row">
  <div class="col-xs-12">
    <h2>Máquinas de soporte vectorial (sigmoide): {{ project.title }}</h2>
  </div>
</div>
<div>
  <H3>Paso 2: Creación de los modelos</H3>

  <p>Valor de X_train:</p>
  {{X_train}}
  <p>Valor de X_validation:</p>
  {{X_validation}}

  <p>Score obtenido: {{score}}</p>

  <p>Matriz de clasificacion</p>
  <table class="table table-striped" style="display: block; overflow-x: auto; white-space: nowrap;">
    <tr class="table-dark">
      <th>

      </th>
      {% for col in matriz.columns %}
        <th>
          {{col}}
        </th>
      {% endfor %}
    </tr>
      {% for index, row in matriz.iterrows %}
        <tr>
          <th>
            {{index}}
          </th>
          {% for cell in row %}
            <td>
              {{cell}}
            </td>
          {% endfor %}
        </tr>
      {% endfor %}
  </table>

  <p>Reporte:</p>
  <table class="table table-striped" style="display: block; overflow-x: auto; white-space: nowrap;">
    <tr class="table-dark">
      <th>

      </th>
      {% for col in reporte.columns %}
        <th>
          {{col}}
        </th>
      {% endfor %}
    </tr>
      {% for index, row in reporte.iterrows %}
        <tr>
          <th>
            {{index}}
          </th>
          {% for cell in row %}
            <td>
              {{cell}}
            </td>
          {% endfor %}
        </tr>
      {% endfor %}
  </table>

  <p>Dataframe de las variables de soporte:</p>
  <table class="table table-striped" style="display: block; overflow-x: auto; white-space: nowrap;">
    <tr class="table-dark">
      <th>

      </th>
      {% for col in df_vs.columns %}
        <th>
          {{col}}
        </th>
      {% endfor %}
    </tr>
      {% for index, row in df_vs.iterrows %}
        <tr>
          <th>
            {{index}}
          </th>
          {% for cell in row %}
            <td>
              {{cell}}
            </td>
          {% endfor %}
        </tr>
      {% endfor %}
  </table>

  <p>Número de vectores de soporte: {{n_vs}}</p>

  <p>Vectores de soporte: {{vs}}</p>

  <p>Validación del modelo:</p>
  {% autoescape off %}
  {{ auc }}
  {% endautoescape %}
  
  <form class="needs-validation" novalidate action="{% url 'svm_final_sigmoide' project.pk %}" method="POST">{% csrf_token %}
    
    {% for col in df.columns %}
    <div class="form-check">
      <label for="option:{{col}}">{{col}}:</label>
      <input type="number" min="0" step=0.0001 oninput="validity.valid||(value='');" name="entradas" id="option:{{col}}"/>
    </div>
    {% endfor %}
    <a href="/svm/" class="btn btn-secondary">No</a>
    <button type="submit" class="btn btn-primary">Continuar</button>
  </form>

</div>

{% endblock %}