{% extends 'base.html' %}

{% block content %}
<div class="row">
  <div class="col-xs-12">
    <h2>Segmentación y Clasificación: {{ project.title }}</h2>
  </div>
</div>
<p>Selección de clusters</p>
<div class="container" style="overflow-x: auto;">
  <table class="table table-striped" style="display: block; overflow-x: auto; white-space: nowrap;">
    <tr class="table-dark">
      {% for col in df.columns %}
        <th>
          {{col}}
        </th>
      {% endfor %}
    </tr>
      {% for index, row in df.iterrows %}
        <tr>
          {% for cell in row %}
            <td>
              {{cell}}
            </td>
          {% endfor %}
        </tr>
      {% endfor %}
  </table>

  <p>Nuevo dataframe con etiqueta de los clusters</p>
  <table class="table table-striped" style="display: block; overflow-x: auto; white-space: nowrap;">
    <tr class="table-dark">
      {% for col in etiqueta.columns %}
        <th>
          {{col}}
        </th>
      {% endfor %}
    </tr>
      {% for index, row in etiqueta.iterrows %}
        <tr>
          {% for cell in row %}
            <td>
              {{cell}}
            </td>
          {% endfor %}
        </tr>
      {% endfor %}
  </table>

  <p>Datos distribuidos entre los clusters</p>
  {% for i in grupos %}
  {{i}}<br/>
  {% endfor %}

  <p>Centroides de los datos</p>
  <table class="table table-striped" style="display: block; overflow-x: auto; white-space: nowrap;">
    <tr class="table-dark">
      <th>
        Clusters
      </th>
      {% for col in centroides.columns %}
        <th>
          {{col}}
        </th>
      {% endfor %}
    </tr>
      {% for index, row in centroides.iterrows %}
        <tr>
          <th>
            {{index}}
          </th>
          {% for cell in row %}
            <td>
              {{cell}}
            </td>
          {% endfor %}
        </tr>
      {% endfor %}
  </table>

  <p>Graficación de los datos</p>
  {% autoescape off %}
  {{ plot }}
  {% endautoescape %}

  <p>3) Definición de las variables predictoras y variable clase</p>
  <p>Selecciona las variables que deseas quitar para las variables predictoras</p>
  <form class="needs-validation" novalidate action="{% url 'sc_p2_2' project.pk %}" method="POST">{% csrf_token %}
    
    {% for col in etiqueta.columns %}
    <div class="form-check">
      <input class="form-check-input" type="checkbox" name="predictoras" id="option{{col}}" value={{col}}>
      <label class="form-check-label" for="option{{i}}">{{col}}</label>
    </div>
    {% endfor %}

    <p>Ahora selecciona la variable de salida</p>

    {% for col in etiqueta.columns %}
    <div class="form-check">
      <input class="form-check-input" type="radio" name="salida" id="option{{col}}" value={{col}} required="required">
      <label class="form-check-label" for="option{{col}}">{{col}}</label>
    </div>
    {% endfor %}
    
    <button type="submit" class="btn btn-primary">Continuar</button>
  </form>

  <a href="http://localhost:8000/api/media/data/clasificacion.csv" class="btn btn-primary btn-sm" target="_blank">
    Descargar Data
  </a>

</div>

{% endblock %}

{% block scripts %}
<script>
  // Example starter JavaScript for disabling form submissions if there are invalid fields
  (function() {
  'use strict';
  window.addEventListener('load', function() {
      // Fetch all the forms we want to apply custom Bootstrap validation styles to
      var forms = document.getElementsByClassName('needs-validation');
      // Loop over them and prevent submission
      var validation = Array.prototype.filter.call(forms, function(form) {
      form.addEventListener('submit', function(event) {
          if (form.checkValidity() === false) {
          event.preventDefault();
          event.stopPropagation();
          }
          form.classList.add('was-validated');
      }, false);
      });
  }, false);
  })();
</script>
{% endblock %}