{% extends 'base.html' %} {% block content %}
<h2>EDA</h2>
<p>Escoge tu proyecto</p>
<table class="table mb-0">
  <thead>
    <tr class="table-dark">
      <th>Titulo</th>
      <th>Nombre del archivo</th>
      <th>Acciones</th>
    </tr>
  </thead>
  <tbody>
    {% for project in projects %}
    <tr>
      <td>{{ project.title }}</td>
      <td>{{ project.name }}</td>
      <td>
        <form method="post" action="{% url 'eda_project' project.pk %}">
          {% csrf_token %}
          <button type="submit" class="btn btn-primary">Escoger</button>
        </form>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
<h5>¿Qué es el análisis exploratorio de datos?</h5>
<p>
  El análisis exploratorio de datos (EDA),
  mediante representaciones gráficas, se utiliza para explorar 
  y analizar un conjunto de datos. 
</p>
{% endblock %}
