{% extends 'base.html' %} {% block content %}
<h2>PCA</h2>
<p>Escoge tu proyecto</p>
<table class="table mb-0">
  <thead>
    <tr class="table-dark">
      <th>Titulo</th>
      <th>Nombre del archivo</th>
      <th>Acciones</th>
    </tr>
  </thead>
  <tbody>
    {% for project in projects %}
    <tr>
      <td>{{ project.title }}</td>
      <td>{{ project.name }}</td>
      <td>
        <form method="post" action="{% url 'pca_project' project.pk %}">
          {% csrf_token %}
          <button type="submit" class="btn btn-primary">Escoger</button>
        </form>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
<h5>¿Qué es el análisis de componentes principales?</h5>
<p>
  El análisis de componentes principales (PCA)
  permite investigar conjuntos de datos multidimensionales 
  con variables cuantitativas por medio de la selección
  de las variables que tengan un mayor peso en la información. 
</p>
{% endblock %}
