{% extends 'base.html' %}

{% block content %}
<div class="row">
  <div class="col-xs-12">
    <h2>Bosque aleatorio (clasificación): {{ project.title }}</h2>
  </div>
</div>
<div>
  <H3>Prueba del modelo</H3>
  <div class="container" style="overflow-x: auto;">
    <table class="table table-striped" style="display: block; overflow-x: auto; white-space: nowrap;">
      <tr class="table-dark">
        {% for col in prueba.columns %}
          <th>
            {{col}}
          </th>
        {% endfor %}
      </tr>
        {% for index, row in prueba.iterrows %}
          <tr>
            {% for cell in row %}
              <td>
                {{cell}}
              </td>
            {% endfor %}
          </tr>
        {% endfor %}
    </table>
  </div>
    <p>Resultado de la prediccion: {{resultado}}</p>
</div>

{% endblock %}