{% extends 'base.html' %} {% block content %}
<h2>About</h2>
<p>
  Este programa está enfocado al analisis de direntes tipos de datos, siempre y cuando sean
  archivos CSV, por medio de seis métodos aprendidos a lo largo del curso de Mineria de Datos.
</p>
<p>
  Los algoritmos implementados fueron de acuerdo a como vieron en las practicas para poder
  tener una guia de como se fueron programando. Sin embargo, algunas cosas fueron omitidas
  por tener problemas de programacion.
</p>
<p>
  Cada una de las gráficas mostradas son responsivas, y estas mismas pueden ser descargadas.
  Ademas, durante la creacion de nuevos dataframes, es posible descargarlos en algunos
  de los algoritmos.
</p>

{% endblock %}
