{% extends 'base.html' %} {% block content %}

<h1>Análisis estadístico de datos (ADS)</h1>
<div>
  <h4>
    El lugar donde solo debes de interpretar la información.
  </h4>
  <div>
    Este es un programa donde puedes analizar tus archivos CSV con diferentes tipos de métodos.
    No importa si son archivos pequeños o grandes, en cuanto a información, podrás realizar un analisis
    de estos.
  </div>
  <br/>
  <div>
    Para poder moverte dentro del programa se incluye una barra de navegacion. Dicha barra, tiene el accesos a los diferentes
    de los que se disponen para realizar el analisis de los datos.
  </div>
  <br/>
  <div>Los beneficios que se incluyen son los siguientes:</div>
  <li>Rápido acceso a la información.</li>
  <li>Unicamente tienes que interpretar los resultados.</li>
  <li>Graficas responsivas con la posibilidad de descargarlas.</li>
  <li>Creacion de nuevos dataframes con posibilidad de descargarlos.</li>
  <li>Aplicación responsiva.</li>
  <li>Procesamiento de datos rápido.</li>
  <li>Administracion de diferentes proyectos.</li>
  
</div>
{% endblock %}
