{% extends 'base.html' %} {% block content %}
<html lang="en">
  <link rel="stylesheet" href="https://pyscript.net/latest/pyscript.css" />
  <h2>PCA Project</h2>
  <table class="table table-striped" style="display: block; overflow-x: auto; white-space: nowrap;">
    <tr>
      {% for col in df.columns %}
        <th>
          {{col}}
        </th>
      {% endfor %}
    </tr>
      {% for index, row in df.iterrows %}
        <tr>
          {% for cell in row %}
            <td>
              {{cell}}
            </td>
          {% endfor %}
        </tr>
      {% endfor %}
  </table>
  <p> {{size.0}} rows x {{size.1}} columns</p>
</html>

{% autoescape off %}
{{ plot_div }}
{% endautoescape %}

{% endblock %}
