{% extends 'base.html' %} 
{% load static %} {% block content %}
<h2>Lista de proyectos</h2>
<table class="table mb-0">
  <thead>
    <tr class="table-dark">
      <th>Titulo</th>
      <th>Nombre del archivo</th>
      <th>Description</th>
      <th>File</th>
      <th>Acciones</th>
    </tr>
  </thead>
  <tbody>
    {% for project in projects %}
    <tr>
      <td>{{ project.title }}</td>
      <td>{{ project.name }}</td>
      <td>{{ project.desc }}</td>
      <td>{{ project.data }}</td>
      <td>
        <a href="/proyectos/{{project.pk}}" class="btn btn-danger btn-sm Eliminar"> <i class="bi bi-trash-fill"></i> Eliminar </a>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
<p>
  <a href="{% url 'upload_project' %}" class="btn btn-primary">Subir proyecto</a
  >
</p>
{% endblock %}

{% block scripts %}
  <script src="{% static 'js/confirmacion.js' %}"></script>
{% endblock %}